<nav class="mobile-menu drawer drawer-menu">
  <ul class="menu-list">
    <li class="menu-about">
      <i class="fas fa-info"></i>
      {{localize "MOBILEIMPROVEMENTS.MenuAbout"}}
    </li>
    <li class="menu-exit">
      <i class="fas fa-mobile-alt"></i>
      {{localize "MOBILEIMPROVEMENTS.MenuLeave"}}
    </li>
    <li class="menu-canvas">
      <i class="fas fa-map"></i>
      {{localize "MOBILEIMPROVEMENTS.MenuCanvas"}}
    </li>
    <li class="menu-players">
      <i class="fas fa-users"></i>
      {{localize "MOBILEIMPROVEMENTS.MenuPlayerList"}}
    </li>
    <li class="menu-fullscreen">
      <i class="fas fa-expand"></i>
      {{localize "MOBILEIMPROVEMENTS.MenuFullscreen"}}
    </li>
  </ul>
</nav>